@keyframes vibrate {
  0% { transform: translateX(-51%); }
  25% { transform: translateX(-49%); }
  50% { transform: translateX(-51%); }
  75% { transform: translateX(-49%); }
  100% { transform: translateX(-51%); }
}

.vibrating {
  animation: vibrate 0.1s linear infinite;
}
